@charset "UTF-8";
@import "vendor/html5reset-1.6.1";
@import "vendor/font-awesome.min";
@import "compass";
//@import "bootstrap-compass";
@import "bootstrap";

// compass watch --time -c config.rb -e development -s expanded --debug-info
// compass watch --time -c config.rb -e production -s compressed --no-debug-info

html, body {
  font-size: $base-font-size;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
//  overflow-y: hidden;
}

a {
  &:link, &:visited {
	color: #FFF;
	text-decoration: none;
	&:hover {
	  color: #2DFFED;
	}
  }
}

.fa {
  //  padding-right: 0.5rem; // Gap between Icon & Text
  //  margin-left: -1.5rem;
  //  visibility: hidden;
  //  display: none;
}